<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-buttons slot="end">
      <ion-button (click)="onCloseModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ place.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-img [src]="place.imagePath"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label>{{ place.title }}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-img [src]="place.imagePath"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="danger" expand="block" fill="solid" (click)="onDelete()">Delete</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
